[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
xlsxwriter = "==3.0.2"
babel = "*"
pillow = "*"
xlrd = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
django-cookie-consent = "*"
psycopg2 = "*"
gunicorn = "*"
django-debug-toolbar = "*"
iuliia = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
